* {
  box-sizing: border-box;
  margin: 0 auto;
}

:root {
  /*toggle class change to change state and colour*/
  --title: #b1b2beb2;
  --body: linear-gradient(to left, rgb(145, 144, 144), rgb(70, 70, 70));
  --task-unfinished: linear-gradient(to bottom, rgb(241, 200, 200), silver);
  --task-completed: linear-gradient(to bottom, rgb(194, 247, 178), silver);
}

body {
  font-family: system-ui, sans-serif;
  color: #ffffff;
  background-image: var(--body);
  /* border: solid yellow; */
}

/* Nav bar and button formating*/

nav {
  width: 100%;
  padding: 1.5rem;
  /* background-color: #734046; */
  /* border: solid green; */
  text-align: center;
}

nav a {
  margin: auto;
  width: 20rem;
  padding: 0.75rem;
  border-radius: 2rem;
  font-size: 60px;
  text-decoration: none;
}

nav a[aria-current='page'] {
  color: #ffffff;
  border: solid 0.01px rgb(41, 41, 41);
  background-color: var(--title);
  box-shadow: 0 5px 10px 3px rgb(0 0 0 / 0.2);
}

main {
  padding: 1.3rem;
}

/* Centre all items like new task and task box*/
.container {
  margin: 0 auto;
  /* border: 2px solid greenyellow; */
  width: 100%;
  min-height: 88.8vh;
}

/* General task design*/
.tasks {
  height: auto;
  width: 450px;
  border: solid 0.01px rgb(182, 182, 182);
  box-shadow: 0 5px 10px 3px rgb(0 0 0 / 0.2);
  border-radius: 20px;
  padding-left: 1rem;
  padding-top: 0.5rem;
  background-image: var(--task-unfinished);
  margin: 0 auto;
  margin-bottom: 1.3rem;
}

.tasks textarea {
  background-color: inherit;
  border: solid 2px;
  color: white;
  padding-top: 0.4vh;
  padding-bottom: 0.3rem;
  margin: auto;
}

.tasks textarea::placeholder {
  color: white;
  font-style: italic;
}
.taskName {
  width: 315px;
  font-size: large;
}
.taskDesc {
  width: 315px;
  font-size: medium;
}

#progress {
  min-height: 45px;
  transform: translateY(-1.4em);
  width: 100px;
}

#progress::before {
}

.addButton {
  /* border: solid red; */
}

#addNewTask {
  margin: 1px auto;
  display: block;
  border-radius: 15px;
  height: 2.35rem;
  outline-color: transparent;
  font-size: 14px;
  font-weight: 600;
}

#addNewTask:hover {
  border-color: rgb(255, 255, 0);
  box-shadow: 1rem;
}
