* {
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 00px;
  margin-left: 0px;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: #f0eeed;
  background-color: #321f28;
}

/* Nav bar and button formating*/

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: absolute;
  justify-content: center;
  padding: 1.5rem;
  gap: 10vw;
  border-bottom: solid 4px #f0eeed;
  background-color: #734046;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.8rem;
  border: solid 3px #f0eeed;
  text-align: center;
  text-decoration: none;
  background-color: #a05344;
  color: rgb(255, 255, 255);
}

nav a[aria-current='page'] {
  color: #f0eeed;
  background-color: #694040;
}

main {
  padding: 1.3rem;
}

/* Centre all items like new task and task box*/
.container {
  position: ;
  margin: auto;
  border: 2px solid greenyellow;
  justify-content: center;
  align-items: center;
  width: 700px;
}

/* General task design*/
.tasks {
  height: auto;
  width: 50vh;
  border: solid 0.3rem #f0eeed;
  border-radius: 20px;
  padding-left: 1rem;
  padding-top: 0.5rem;
  background-color: #a05344;
  margin-bottom: 1.3rem;
}

textarea {
  background-color: transparent;
  border: solid 2px;
  color: white;
  padding-top: 0.4vh;
  padding-bottom: 0.3rem;
  margin: auto;
}

textarea::placeholder {
  color: white;
  font-style: italic;
}
.taskName {
  width: 335px;
  font-size: large;
}
.taskDesc {
  width: 335px;
  font-size: medium;
}

#progress {
  min-height: 30px;
  width: 50px;
  display: flex;
}

#addNewTask {
  display: block;
  border-radius: 1rem;
  height: 2.25rem;
}

#addNewTask:hover {
  border-color: rgb(44, 44, 42);
  background-color: rgb(203, 203, 203);
}
